<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ML Deployment</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        
      </head>
<body>
    <div class="login">
	    <h1>ImmoElisa Property</h1>
 
        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}"method="post">
    	 
    	<input type="number" name="area" placeholder="Area (m)" required="required" />
        <input type="number" name="Number of Rooms" placeholder="Number of Rooms" required="required" />
		<input type="text" name="Garden Surface" placeholder="Garden Surface (m2)" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
        </form>
        
        <br>
        <br>
        {{ prediction_text }}
    </div>
</body>
</html>
    